[submodule "Dependencies/CUE4Parse"]
	path = Dependencies/CUE4Parse
	url = https://github.com/Bmarquez1997/CUE4Parse
[submodule "Dependencies/FluentAvalonia.BreadcrumbBar"]
	path = Dependencies/FluentAvalonia.BreadcrumbBar
	url = https://github.com/yuto-trd/FluentAvalonia.BreadcrumbBar
